.build/
.dart_tool/
.pub/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
/android/app/src/main/res/mipmap-*
/android/app/src/main/res/drawable-*
.vscode/
.idea/
.DS_Store
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
*.db
*.sqlite
*.db-shm
*.db-wal
.env